* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Poppins", sans-serif;
}

h1 {
  font-size: 2.8rem;
}

h2 {
  font-size: 3.5rem;
}

h3 {
  font-size: 2.6rem;
  font-weight: normal;
}

a {
  font-size: 2rem;
  color: white;
  text-decoration: none;
}

/* HEADER SECTION */

.main-head {
  background: rgb(48, 24, 71);
  color: white;
}

nav {
  min-height: 10vh;
  display: flex;
  width: 90%;
  margin: auto;
  padding: 2rem;
  align-items: center;
  flex-wrap: wrap;
}

nav ul {
  display: flex;
  flex: 1 1 40rem;
  list-style: none;
  justify-content: space-around;
}

#logo {
  flex: 2 1 40rem;
  font-family: "Pattaya", sans-serif;
  font-weight: normal;
}

/* JUMBOTRON */

.hero {
  min-height: 90vh;
  background: url(./images/jumbotron.jpg);
  background-size: cover;
  background-position: center;
  text-align: center;
  padding-top: 30rem;
}

h2,
h3 {
  color: white;
  text-shadow: 3px 3px 3px black;
  padding: 1rem;
}

.hero button {
  padding: 1rem;
  margin-top: 1rem;
  border: none;
  border-radius: 1rem;
  color: white;
  background: violet;
  cursor: pointer;
  font-size: 1.8rem;
}

/* LOCATION SECTION */

#locations{
    min-height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 0.4), transparent),url(./images/new-york-page.png);
    background-position: center;
    background-size: cover;
    display: flex;
    align-items:center;
}

.locations-head{
    width: 90%;
    margin: auto;
}



/* Media Queries */

@media screen and (max-width: 933px) {
  html {
    font-size: 45%;
  }
  nav {
    text-align: center;
  }
  #logo {
    padding: 2rem;
  }
}
